*{
    background-color: cyan;
}
table td{
    border: 1px solid blueviolet;
}

.left{
    float:left;
}
.right{
    float:right;
}

main::after {
    content: "";
    display: block;
    clear: both;
}